# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Lambda archives
lambda/pre_signed_url.zip
lambda/rekognition_consumer.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log