aws_region = "us-east-1"
image_bucket_name = "my-rekognition-image-bucket"
sqs_queue_name = "my-rekognition-image-queue"
presigned_url_lambda_name = "my-rekognition-presigned-url-lambda"
rekognition_lambda_name = "my-rekognition-consumer-lambda"
api_name = "my-rekognition-presigned-url-api"
upload_prefix = "uploads/"
